@model Worlds.Travel.Web.Models.ComeTo.ComeToArchitectureViewModel

@{
    ViewBag.Title = "ComeToArchitecture";
}

<form id="form-login" class="p-t-15" action="@Url.Action("ComeToArea", "ComeTo")" , method="POST">
    选择星球
    <select name="areaKeyName">
        @foreach (var item in Model.Storeys)
        {
            <option value="@item.Name.KeyName">@item.Name</option>
        }
    </select>
    <button class="btn btn-primary btn-cons m-t-10" type="submit">降临</button>
</form>


