@model Worlds.Travel.Web.Models.ComeTo.ComeToWorldViewModel
@{
    ViewBag.Title = "降临世界";
}

<form id="form-login" class="p-t-15" action="@Url.Action("ComeToArea", "Worlds")" , method="POST">
   

    降临区域
    @if (Model.Architectures != null)
    {
        <select>
            @foreach (var area in Model.Architectures)
            {
                <option value="@area.Key">@area.Name</option>
            }
        </select>
    }
   

   

    <button class="btn btn-primary btn-cons m-t-10" type="submit">降临</button>
</form>