@model Worlds.Travel.Web.Models.ComeTo.ComeToStoreyViewModel
@{
    ViewBag.Title = "ComeToSuite";
}
<form id="form-login" class="p-t-15" action="@Url.Action("ComeToStorey", "ComeTo")" , method="POST">
    选择房间
    <select name="keyName">
        @foreach (var item in Model.SuiteRooms)
        {
            <option value="@item.KeyName">@item.Name</option>
        }
    </select>
    <button class="btn btn-primary btn-cons m-t-10" type="submit">降临</button>
</form>
