
@{
    ViewBag.Title = "场景选择页";
}

选择星系
选择星球
选择降临时空

<form id="form-login" class="p-t-15" action="@Url.Action("GoWorld", "Home")" , method="POST">
    <button class="btn btn-primary btn-cons m-t-10" type="submit">降临</button>
</form>