@model Worlds.Travel.Web.Models.Home.SceneSelectionViewModel
@{
    ViewBag.Title = "场景选择";
}


<form id="form-login" class="p-t-15" action="@Url.Action("ComeTo", "Home")" , method="POST">
    模式
    <select>
        <option>参观</option>
        <option>体验</option>
    </select>
    <button class="btn btn-primary btn-cons m-t-10" type="submit">降临</button>
</form>
